<h3>Board</h3>

<div class="board">
	<div class="question" style="@(Mastermind.GameEnded ? "display: flex" : "display: none")">
		@for (int i = 0; i < Mastermind.Settings.PegNum; i++)
		{
			@QuestionTemplate(Mastermind.Question.Pegs[i])
		}
	</div>
	<div class="rounds">
		@for (int i = 0; i < Mastermind.Settings.TriesNum; i++)
		{
			<div class="round">
				@if (Mastermind.Rounds.Count < i)
				{
					<div class="pegs">
						@for (int k = 0; k < Mastermind.Settings.PegNum; k++)
						{
							@EmptyPegTemplate
						}
					</div>
					<div class="pins">
						@for (int l = 0; l < Mastermind.Settings.PegNum; l++)
						{
							@EmptyPinTemplate
						}
					</div>
				}
				else if(Mastermind.Rounds.Count == i) 
				{
					<div class="pegs">
						@for(int g = 0; g < Mastermind.Settings.PegNum; g++)
						{
							@GuessTemplate(g)
						}

					</div>
					<div class="pins">
						@for (int l = 0; l < Mastermind.Settings.PegNum; l++)
						{
							@EmptyPinTemplate
						}
					</div>
				}
				else 
				{
					var round = Mastermind.Rounds[i];
					<div class="pegs">
						@for (int k = 0; k < round.Guess.Pegs.Count; k++)
						{
							@PegTemplate(round.Guess.Pegs[k])
						}
					</div>
					<div class="pins">
						@for (int l = 0; l < round.Result.Pins.Count; l++)
						{
							@PinTemplate(round.Result.Pins[l])
						}
					</div>
				}
			</div>
		}
	</div>

	<div class="colors">
		@for(int i = 0; i < Mastermind.AvailableColors.Count; i++)
		{
			@ColorsTemplate(Mastermind.AvailableColors[i])
		}

	</div>
</div>

@code {
	[Parameter] public Mastermind Mastermind { get; set; }
	[Parameter] public RenderFragment EmptyPegTemplate { get; set; }
	[Parameter] public RenderFragment<Peg> PegTemplate { get; set; }
	[Parameter] public RenderFragment EmptyPinTemplate { get; set; }
	[Parameter] public RenderFragment<Pin> PinTemplate { get; set; }
	[Parameter] public RenderFragment<int> GuessTemplate { get; set; }
	[Parameter] public RenderFragment<Peg> ColorsTemplate { get; set; }
	[Parameter] public RenderFragment<Peg> QuestionTemplate { get; set; }
}
